@import "./animations.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 20%;
  }
}

body {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bubble-sort-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120rem;
  margin-left: -8rem;
  margin-top: 5rem;
}

.sort-body {
  background-color: rgb(65, 56, 56);
  width: 100%;
  height: 27rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.column {
  width: 3.4rem;
  background-color: #fca70a;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.btn {
  font-size: 1.6rem;
  cursor: pointer;
  width: 15rem;
  height: 10rem;
  background-color: rgb(243, 229, 229);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn:active {
  transform: translateY(0.3rem);
}

.sort-all {
  background-color: rgb(243, 191, 191);
  position: absolute;
  top: 31rem;
  width: 10rem;
  height: 7rem;
}

.sort-container {
  position: relative;
  width: 85rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-container {
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: red;
  bottom: -2rem;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  align-items: center;
  justify-content: space-around;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.marker {
  width: 2rem;
  height: 2rem;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: rgb(163, 58, 58);
  position: absolute;
  bottom: -2rem;
  z-index: 100;
}

.marker-placeholder:nth-child(1) {
  order: 5;
}
.marker-placeholder:nth-child(2) {
  order: 4;
}

.marker-placeholder:nth-child(3) {
  order: 3;
}
.marker-placeholder:nth-child(4) {
  order: 2;
}
.marker-placeholder:nth-child(5) {
  order: 1;
}

.marker-active {
  /* color: blue; */
  order: 0;
}
