.sort-all {
  background-color: rgb(243, 191, 191);
  position: absolute;
  top: 31rem;
  width: 10rem;
  height: 7rem;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}

.bubble-sort-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120rem;
  margin-left: -8rem;
  margin-top: 5rem;
}
